<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TtsServer"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TtsServer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.systts.edit.microsoft.MsTtsEditActivity"
            android:label="@string/title_activity_tts_config_edit" />

        <activity
            android:name=".ui.systts.list.import1.ConfigImportActivity"
            android:label="@string/config_import" />

        <activity
            android:name=".ui.systts.edit.http.HttpTtsEditActivity"
            android:label="@string/systts_http_edit_title" />
        <activity
            android:name=".ui.systts.edit.local.LocalTtsEditActivity"
            android:label="@string/systts_local_edit_title" />
        <activity
            android:name=".ui.systts.replace.ReplaceManagerActivity"
            android:label="@string/title_activity_replace_manager"
            android:theme="@style/Theme.TtsServer.NoActionBar" /> <!-- 替换规则 -->
        <activity
            android:name=".ui.systts.replace.ReplaceRuleEditActivity"
            android:label="@string/title_activity_replace_edit" />
        <activity
            android:name=".ui.ScSwitchActivity"
            android:theme="@android:style/Theme.NoDisplay" /><!-- Server开关 -->
        <activity
            android:name=".service.systts.CheckVoiceData"
            android:exported="true"
            android:label="CheckVoiceData">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <service
            android:name=".service.systts.SystemTtsService"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>
        <service
            android:name=".service.TtsIntentService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,Instantiatable" />
        <service
            android:name=".service.QSTileService"
            android:exported="true"
            android:icon="@drawable/ic_app_notification"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.sysforwarder.SysTtsForwarderService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,Instantiatable" />
    </application>

</manifest>