<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.INSTALL_SHORTCUT"
        tools:ignore="SystemPermissionTypo" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TtsServer"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.systts.speech_rule.SpeechRuleManagerActivity"
            android:label="@string/read_rule_manager"
            android:exported="true" />
        <activity
            android:name=".ui.systts.speech_rule.SpeechRuleEditorActivity"
            android:label="@string/edit_read_rule"
            android:exported="false" />
        <activity
            android:name=".ui.systts.direct_upload.DirectUploadSettingsActivity"
            android:exported="false"
            android:label="@string/direct_link_settings" />
        <activity
            android:name=".ui.ExoPlayerActivity"
            android:exported="false"
            android:label="@string/exo_player_title" />
        <activity
            android:name=".ui.systts.plugin.PluginEditorActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.TtsServer.NoActionBar" />
        <activity
            android:name=".ui.systts.plugin.PluginManagerActivity"
            android:exported="true"
            android:label="@string/plugin_manager" />
        <activity
            android:name=".ui.systts.edit.plugin.PluginTtsEditActivity"
            android:exported="false"
            android:label="@string/edit_plugin_tts" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TtsServer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.systts.edit.microsoft.MsTtsEditActivity"
            android:label="@string/title_activity_tts_config_edit" />
        <activity
            android:name=".ui.systts.edit.http.HttpTtsEditActivity"
            android:label="@string/systts_http_edit_title" />
        <activity
            android:name=".ui.systts.edit.local.LocalTtsEditActivity"
            android:label="@string/systts_local_edit_title" />
        <activity
            android:name=".ui.systts.edit.bgm.BgmTtsEditActivity"
            android:label="@string/edit_bgm_tts_title" />
        <activity
            android:name=".ui.systts.replace.ReplaceManagerActivity"
            android:exported="true"
            android:label="@string/title_activity_replace_manager"
            android:theme="@style/Theme.TtsServer.NoActionBar" />
        <activity
            android:name=".ui.systts.replace.ReplaceRuleEditActivity"
            android:label="@string/title_activity_replace_edit" />
        <activity
            android:name=".ui.forwarder.ms.ScSwitchActivity"
            android:taskAffinity="sc.switch"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".ui.forwarder.system.ScSwitchActivity"
            android:taskAffinity="sc.switch"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".service.systts.CheckVoiceData"
            android:exported="true"
            android:label="CheckVoiceData">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <service
            android:name=".service.systts.SystemTtsService"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>
        <service
            android:name=".service.forwarder.ms.TtsIntentService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,Instantiatable" />
        <service
            android:name=".service.forwarder.ms.QSTileService"
            android:exported="true"
            android:icon="@drawable/ic_app_notification"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.forwarder.system.QSTileService"
            android:exported="true"
            android:icon="@drawable/ic_app_notification"
            android:label="@string/forwarder_systts"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.forwarder.system.SysTtsForwarderService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,Instantiatable" />
    </application>

</manifest>